<div class="contenido activo">
    <p class="titulo-contenido">Portafolio de Evidencias</p>
    <p class="titulo-contenido"> Metodologías para el Desarrollo de Proyectos</p>

    <div class="parcial">
        <p class="titulo-parcial">1ER PARCIAL</p>
        <p class="titulo-contenido">DESCRIPCIÓN FECHA RESUMEN</p>
        <div class="fila-saberes">
            <button class="btn-carpeta" onclick="window.open('http://google.com', '_blank')">SABER</button>
            <button class="btn-carpeta" onclick="window.open('http://google.com', '_blank')">SABER HACER</button>
            <button class="btn-carpeta" onclick="window.open('http://google.com', '_blank')">SER</button>
        </div>
    </div>
</div>
